.student-dashboard {
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background: radial-gradient(circle at 10% 20%, 
        rgba(87, 108, 255, 0.8) 0%, 
        rgba(0, 0, 0, 0.9) 90%);;
  min-height: 100vh;
  max-width:1200px;
  margin-left:40px;
}

.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f2f5f5;
}

/* Stats Section */
.stats-section {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  flex: 1;
  background: radial-gradient(circle at 10% 20%, 
        rgba(117, 116, 117, 0.8) 0%, 
        rgba(30, 27, 30, 0.9) 90%);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  border: 0.2px solid #f0f2f0;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #bbb;
}

.stat-card p {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.stat-card.verified {
  border: 0.2px solid #f0f2f0;
}

.stat-card.pending {
  border: 0.2px solid #f0f2f0;
}

/* Documents Table */
.documents-section {
  background: radial-gradient(circle at 10% 20%, 
        rgba(112, 64, 145, 0.8) 0%, 
        rgba(69, 15, 66, 0.9) 50%,
        rgba(0, 0, 0, 0.9) 90%);
  border-radius: 12px;
  padding: 20px;
  color:rgb(252, 250, 250);
}

.documents-section h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #f1f1f1;
}

.documents-table {
  width: 100%;
  border-collapse: collapse;
}

.documents-table th,
.documents-table td {
  padding: 12px;
  border-bottom: 1px solid #2d333b;
  text-align: left;
}

.documents-table th {
  color: #fefbfb;
}

.documents-table td {
  color: #fff;
}

.documents-table tr:hover {
  background: rgba(0, 212, 255, 0.05);
}

.verified {
  color: #4caf50;
  font-weight: bold;
}

.pending {
  color: #ff9800;
  font-weight: bold;
}

.buttonPrimary-student {
    background: radial-gradient(circle at 10% 20%, 
        rgba(112, 64, 145, 0.8) 0%, 
        rgba(69, 15, 66, 0.9) 90%);
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    margin-right:20px;
    margin-top:30px;
}
