.signup-form-container {
    border: 1px solid #ddd;
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at 10% 20%, 
        rgba(87, 108, 255, 0.8) 0%, 
        rgba(0, 0, 0, 0.9) 90%);
}

.signup-form-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    background: transparent;
    color: white;
}

.form-group-birth {
    display: flex; /* Makes the child elements align side by side */
    flex-direction:column;

    /* Adds space between the select elements */
}

.form-group-birth select {
    /* The individual select styling is handled by the birthyear-selection class */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    background: transparent;
    color: white;
    margin:10px;
}

.form-group-birth select option {
    background: black;
    border:1px solid black; /* Sets the dropdown background color */ /* Sets the dropdown text color */
}

.form-group input::placeholder {
    color: #aaa;
}

.submit-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}