/* src/components/Institution/IssueCredentialForm.css */

.credential-form-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color:white;
    background:radial-gradient(circle at 10% 20%, 
        rgba(87, 108, 255, 0.8) 0%, 
        rgba(0, 0, 0, 0.9) 90%);
}

.credential-form-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    background:transparent;
    border: 1px solid #cccccccf;
    border-radius: 4px;
    box-sizing: border-box; /* To include padding in the width calculation */
}

.form-group input[type="file"] {
    padding: 3px;
}

.form-group input::placeholder {
    color: #aaa;
}

.submit-button {
    padding: 10px 20px;
    background-color: #151616;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover:not(:disabled) {
    background-color: #4f5256;
}

.submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.status-message {
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}

.status-message.info {
    color: black;
    background-color: #f0f0f0;
}

.status-message.success {
    color: #155724;
    background-color: #d4edda;
}

.status-message.error {
    color: #721c24;
    background-color: #f8d7da;
}

.file-info, .ipfs-info {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

.ipfs-info {
    color: #007bff;
}

.tx-hash-info {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

.tx-hash-info code {
    background-color: #e9e9e9;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.note {
    margin-top: 20px;
    font-style: italic;
    color: #faf9f9;
    border-top: 1px solid #eee;
    padding-top: 10px;
    font-size: 0.9em;
}